# 参考：https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
# ColumnLimit: 140
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Custom

BraceWrapping:
  BeforeElse: true

# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations:	false
