.idea
.DS_Store
.vscode/*
report.*

algorithms/videos/

node_modules/*

package-lock.json

tmp/**/*
!/tmp/.gitkeep

workspace/**/*
!/workspace/.gitkeep

src
!src/main/java/com/muyids/lc/lib


target/
*.out
*.dSYM/
main